.main-image {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    border-radius: 5px;
}

.disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.spooky {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #f0b34a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.spookyhover:hover {
    background: #fc3c3c;
    background-image: -webkit-linear-gradient(top, #fc3c3c, #000000);
    background-image: -moz-linear-gradient(top, #fc3c3c, #000000);
    background-image: -ms-linear-gradient(top, #fc3c3c, #000000);
    background-image: -o-linear-gradient(top, #fc3c3c, #000000);
    background-image: linear-gradient(to bottom, #fc3c3c, #000000);
    text-decoration: none;
}