<template name="postDisplay">
    <div class="posts">
        {{#each posts}}
            <div class="container-fluid">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="{{imageFile.url}}" target="_blank"><img class="main-image"
                                                                             src="{{imageFile.url}}"/></a>

                            <p>{{description}}</p>

                            <form>
                                <div class="col-xs-6">
                                    <a class="upvote" href="#"><img type="image" class="spooky {{votedClass}}"
                                                                    src="/images/spooky.png"/></a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="downvote" href="#"><img type="image" class="spooky {{votedClass}}"
                                                                      src="/images/spoopy.png"/></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>
