<template name="myPosts">
    <div class="posts">
        {{#each posts}}
            <div class="container-fluid">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="{{imageFile.url}}" target="_blank"><img class="main-image" src="{{imageFile.url}}"/></a>
                            <p>{{description}}</p>
                            <form>
                                <div class="col-xs-6">
                                    <h1 class="spooky box">{{upVotes}}</h1>
                                </div>
                                <div class="col-xs-6">
                                    <h1 class="spooky box">{{downVotes}}</h1>
                                </div>
                            </form>
                            {{#if ownPost}}<a href="{{pathFor 'editPost'}}"><h2>Edit</h2></a>{{/if}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>